.tilte-cards{
    margin-top: 40px;
}
.tilte-cards h2{
    margin-bottom: 20px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card{
    width: 290px;
    cursor: pointer;
}
.card img{
    width: 270px;
    border-radius: 5px;
}
.card p{
    font-size: 14px;
    margin-top: 5px;
    color: white;
}