.footer{
    width: 70vw;
    margin-left: calc((100vw - 70vw)/2);
    text-align: center;
    margin-top: 100px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.footer-icons img{
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px transparent solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.footer-icons{
    margin-bottom: 30px;
}
.footer-cp{
    color: gray;
    margin-bottom: 30px;
}
.links-foot{
    color: white;
    text-decoration: none;
    transition: 0.5s linear all;
    border-bottom: 2px transparent solid;
}
.links-foot:hover{
    color: red;
    border-bottom-color: red;
}
.footer-icons img:hover{
    border-color: red;
}